body {
   margin: 0;
   padding: 0;
   background-color: lightGray;
   font-family: Verdana, sans-serif;
   font-size: 0.9em;
}

.heading {
  padding: 10px;
  background: #CC6600;
  border: 1px solid blue;
  font-size: 1.4em;
  font-style: italic;
  font-family: Verdana;
  text-align: center;
  height: 50px;
}

.menuAndContent {
  width: 100%;
  height: 100%;
}

.menu {
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  border: thin solid blue;
  position: absolute;
  left: 10px;
  height: 80%;
  width: 200px;
  background: #FFFF55;
  top: 90px;
}

.content {
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  border: thin solid blue;
  background: #FFFFFF;	
  position:absolute;
  left: 225px;
  right: 65px;
  top: 90px;
  height: 80%;
}