<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/templates/default.xhtml">
	<ui:define name="content">
		<h:form id="animeform">
			<h:panelGrid columns="4">

				<h:outputText value="#{msg.animetitleLabel}" />
				<h:inputText id="title" value="#{animeBean.anime.title}" />
				<h:outputText value="#{msg.animegenreLabel}" />
				<h:inputText id="genre" value="#{animeBean.anime.genre}" />
				<h:outputText value="#{msg.animeyearLabel}" />
				<h:inputText id="year" value="#{animeBean.anime.year}" />
				<h:outputText value="#{msg.animeepisodesLabel}" />
				<h:inputText id="episodes" value="#{animeBean.anime.episodes}" />
				<h:outputText value="#{msg.animestudioLabel}" />
				<h:inputText id="studio" value="#{animeBean.anime.studio}" />

			
			</h:panelGrid>

			<h:commandButton value="#{msg.animeFormOKButton}"
				action="#{animeBean.addAnime}" />
				
			<h:panelGrid>
				<h:messages showDetail="#{true}" showSummary="#{false}" />
			</h:panelGrid>
		</h:form>
	</ui:define>
</ui:composition>