<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/templates/default.xhtml">
	
	<ui:define name="content">
	
    <h:form>
    
     <h:dataTable value="#{animeBean.allAnimes}" var="item">
      <f:facet name="header">#{msg.animeAllLabel}</f:facet>
      
      <h:column>
        <f:facet name="header">#{msg.animetitleLabel}</f:facet>
        #{item.title}
      </h:column>
       <h:column>
        <f:facet name="header">#{msg.animegenreLabel}</f:facet>
        #{item.genre}
      </h:column>
      <h:column>
        <f:facet name="header">#{msg.animeyearLabel}</f:facet>
        #{item.year}
      </h:column>
       <h:column>
        <f:facet name="header">#{msg.animeepisodesLabel}</f:facet>
        #{item.episodes}
      </h:column>
       <h:column>
        <f:facet name="header">#{msg.animestudioLabel}</f:facet>
        #{item.studio}
      </h:column>
      

      <h:column>
        <f:facet name="header">#{msg.action}</f:facet>
        <h:commandLink value="#{msg.actionDelete}" action="#{animeBean.deleteanime}"/>
      </h:column>
     </h:dataTable>
          <h:commandLink action="addAnime?faces-redirect=true">
			<h:outputText value="#{msg.animeAddLabel}" />
	  </h:commandLink>
    </h:form>
      
	</ui:define>
	
</ui:composition>